<div class="layout-footer">
    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta py-5">
                <div class="grid">
                    <div class="col-12 md:col-4 mb-4">
                        <div class="single-cta flex align-items-center">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text ml-3">
                                <h4>Find us</h4>
                                <span>1010 Avenue, SW 54321, Chandigarh</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-4 mb-4">
                        <div class="single-cta flex align-items-center">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text ml-3">
                                <h4>Call us</h4>
                                <span>9876543210</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-4 mb-4">
                        <div class="single-cta flex align-items-center">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text ml-3">
                                <h4>Mail us</h4>
                                <span>mailinfo.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content py-5">
                <div class="grid">
                    <div class="col-12 md:col-4 mb-6">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="https://i.ibb.co/QDy827D/ak-logo.png" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text mt-3">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div class="footer-social-icon mt-3">
                                <span>Follow us</span>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-4 mb-4">
                        <div class="footer-widget">
                            <div class="footer-widget-heading mb-3">
                                <h3>Useful Links</h3>
                            </div>
                            <ul class="list-none p-0 m-0">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Expert Team</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Latest News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 md:col-4 mb-6">
                        <div class="footer-widget">
                            <div class="footer-widget-heading mb-3">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-3">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address" class="p-2 mb-2 border-round border-1">
                                    <button class="p-2 border-round border-1"><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="copyright-area py-3">
            <div class="container">
                <div class="grid">
                    <div class="col-12 lg:col-6 text-center lg:text-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2018, All Right Reserved <a href="https://codepen.io/anupkumar92/">Anup</a></p>
                        </div>
                    </div>
                    <div class="col-12 lg:col-6 text-right lg:hidden">
                        <div class="footer-menu">
                            <ul class="list-none p-0 m-0 flex justify-content-end">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </footer>
</div>
